<div class="debug">
    <strong>Debug links:</strong>
    <%= link_to 'nuffle', "https://nuffle.xyz/teams/#{@team.api_id}", target: '_blank' %>
    <%= link_to 'cyanide', @team.cyanide_uri, target: '_blank' %>
</div>


<h1><%= @team.name %></h1>

<% if @team.matches.any? %>
  <% matches_by_comp = @team.matches.includes(:competition).group_by(&:competition) %>
  <% matches_by_comp.each do |competition, matches| %>
    <h2><%= link_to competition.name, competition %></h2>
    <ul>
      <% matches.sort_by { |m| -(m.started || Time.at(0)).to_f }.each do |match| %>
        <% our_mt = match.match_teams.find { |mt| mt.team_id == @team.id } %>
        <% opp_mt = match.match_teams.find { |mt| mt.team_id != @team.id } %>
        <li>
          <%= link_to match.started&.strftime("%B %d, %Y") || "TBD", match %>:
          <%= link_to our_mt.team.name, our_mt.team %>
          <% if opp_mt %>
            <%= link_to "#{our_mt.score} - #{opp_mt.score}", match %>
            <%= link_to opp_mt.team.name, opp_mt.team %>
          <% else %>
            vs TBD
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No matches yet.</p>
<% end %>
