<div class="debug">
    <b>Debug links:</b>
    <%= link_to 'nuffle', "https://nuffle.xyz/leagues/#{@league.api_id}", target: '_blank' %>
    <%= link_to 'cyanide', @league.cyanide_uri, target: '_blank' %>
    <%= button_to "Refresh", refresh_league_path(@league), method: :post, style: 'display: inline;' %>
</div>

<h1>
    <%= @league.name %>
    <span class="game-version game-version-<%= @league.game_version %>"><%= @league.game_version %></span>
    <span><%= @league.platform %></span>
</h1>

<% if @league.series.any? %>
  <h2>Series</h2>
  <ul style="list-style: none; padding-left: 0;">
    <% @league.series.each do |series| %>
      <li>
        <%= link_to series.name, series_path(series.slug) %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Competitions</h2>
<% if @league.competitions.any? %>
  <ul style="list-style: none; padding-left: 0;">
    <% @league.competitions.each do |comp| %>
      <li<%= ' class="inactive"'.html_safe unless comp.competition_teams.any? %>>
        <%= link_to(comp.name, comp) %>
        <span><%= comp.format.gsub('_',' ') %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No competitions yet.</p>
<% end %>
