<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dugout" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Dugout">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&family=MedievalSharp&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url('<%= image_path('parchment-bg.jpg') %>'); background-size: 100% auto; background-repeat: repeat-y;">

    <% if notice %>
      <p style="background: #d4edda; padding: 10px; margin: 0;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p style="background: #f8d7da; padding: 10px; margin: 0;"><%= alert %></p>
    <% end %>

    <main class="container">
        <nav>
          <%= link_to "Home", root_path %>
          <% if @league %>
            &gt; <%= link_to @league.name, @league %>
          <% end %>
          <% if @competition %>
            &gt; <%= link_to @competition.name, @competition %>
          <% end %>
        </nav>


        <%= yield %>
    </main>
  </body>
</html>
